body{
    text-align: center;
    margin-top: 270px;
    
 background : url('./—Pngtree—dark abstract background with dark_1155641.png');
}
#ht{

    background-color:brown;
    margin-bottom: 190px;
}